build-SEEMSLIGET-Desktop_Qt_5_12_1_GCC_64bit-Debug/
build-SEEMSLIGET-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/.qmake.stash
build-SEEMSLIGET-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/main.obj
build-SEEMSLIGET-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/qrc_qml.cpp
build-SEEMSLIGET-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/qrc_qml.obj
build-SEEMSLIGET-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/SEEMSLIGET.exe
build-SEEMSLIGET-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/SEEMSLIGET.ilk
build-SEEMSLIGET-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/SEEMSLIGET.pdb
build-SEEMSLIGET-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/SEEMSLIGET.vc.pdb
build-SEEMSLIGET-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/Makefile
build-SEEMSLIGET-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/Makefile.Debug
build-SEEMSLIGET-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/Makefile.Release
SEEMSLIGET/SEEMSLIGET.pro.user
